body {
    background: #efede5;
}

header {
    background: #b2d7c8;
}

h1, h2, h3, h4 {
    color: #2d564e;
}

.reviewMenuContents, .practiceMenuContents {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
}

.menuButtons {
    display: grid;
}

.modalMenu {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
    min-width: 250px;
    justify-content: center;
    text-align: center;
}

.flashcard {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
    min-width: 250px;
    justify-content: center;
    text-align: center;  
}