body {
    background: #efede5;
}

header {
    background: #b2d7c8;
}

h2 {
    color: #2d564e;
}

.todayContents {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
}

.mapsContents {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
}

.historyContents {
    display: flex;
    background: #b2d7c8;
    border-radius: 5px;
    border:medium solid #2d564e;
    
}
  
.historyCard {
    margin: 40px auto;
    padding: 20px;
    background: #F4CFDF;
    border-radius: 5px;
    border: thin solid #efede5;
    justify-content: space-evenly;
    align-items: center;
}


/* https://duo.alexpate.uk/ 
https://designwizard.com/blog/design-trends/colour-combination/ 
White (#FCF6F5FF), Pink Lady (#EDC2D8FF) and Sky Blue (#8ABAD3FF)
Light Purple (#D7A9E3FF), Light Blue (#8BBEE8FF) and Light Green (#A8D5BAFF)
https://www.canva.com/learn/website-color-schemes/ number 19, number 30
https://help.twitter.com/en/using-twitter/embed-twitter-feed*/