
.preKanji {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
    min-width: 250px;
    justify-content: center;
    text-align: center;  
}

.components {
    background: #b2d7c8; 
    padding: 0px;
    border-radius: 5px;
    border:medium solid #2d564e;
    min-width: 250px;
    justify-content: center;
    text-align: center;  
}

.kanjiComponent {
    border: thin solid #2d564e;
}

.kanjiComponent h1 {
    font-size: 50px;
}

.targetKanji {
    justify-content: center;
    text-align: center;
}

.targetKanji p {
    font-size: 20px;
}

.targetKanji h1 {
    font-size: 40px;
}

.targetKanji h2 {
    font-size: 30px;
}

.hints {
    text-align: center;
    padding: 10px
}

.hints h1 {
    justify-content: center;
}

.endSection {
    text-align: center;
}

.informationModal {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
    min-width: 250px;
    justify-content: center;
    text-align: center;  
}

.informationModal h4 {
    font-size: 40px;
}

.resultsModal {
    background: #b2d7c8; 
    padding: 20px;
    border-radius: 5px;
    border:medium solid #2d564e;
    min-width: 250px;
    justify-content: center;
    text-align: center;  
}

.resultsModal h1 {
    font-size: 30px;
}

.resultsModal h3 {
    font-size: 50px;
}

